@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 30% 19%;
    --foreground: 210 40% 98%;
    --card: 225 30% 23%;
    --card-foreground: 210 40% 98%;
    --popover: 225 30% 19%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 225 30% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 225 30% 30%;
    --muted-foreground: 215 20% 65%;
    --accent: 187 100% 42%;
    --accent-foreground: 225 30% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 225 30% 30%;
    --input: 225 30% 30%;
    --ring: 187 100% 42%;
    --chart-1: 12 76% 61%;
    --chart-2: 120 70% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 225 30% 19%;
    --foreground: 210 40% 98%;
    --card: 225 30% 23%;
    --card-foreground: 210 40% 98%;
    --popover: 225 30% 19%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 225 30% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 225 30% 30%;
    --muted-foreground: 215 20% 65%;
    --accent: 187 100% 42%;
    --accent-foreground: 225 30% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 225 30% 30%;
    --input: 225 30% 30%;
    --ring: 187 100% 42%;
    --chart-1: 220 70% 50%;
    --chart-2: 120 70% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 60 70% 50%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
